<ion-view title="Create Room" id="page5">
  <ion-content padding="true" class="has-header">
     <ion-nav-back-button></ion-nav-back-button>
    <form id="createRoom-form4" class="list">
      <label class="item item-input" id="createRoom-input7" name="room_code">
        <input type="text" placeholder="<ICON> Enter Room Name">
      </label>
    </form>
    <form id="createRoom-form10" class="list">
      <label class="item item-input" id="createRoom-input10" name="subject_input">
        <input type="text" placeholder="Enter a Subject <ADD BUTTON>">
      </label>
    </form>
    <ion-list id="createRoom-list1">
      <ion-item id="createRoom-list-item4">Item 1</ion-item>
      <ion-item id="createRoom-list-item5">Item 2</ion-item>
      <ion-item id="createRoom-list-item6">Item 3</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 83px;"></div>
    <a ui-sref="teacherHelpQueue" id="createRoom-button17" class="button button-assertive  button-block">Create Room</a>
  </ion-content>
</ion-view>