<ion-view title="Entry Page" id="page3" style="background-color:#4F7279;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 293px;"></div>
    <div class="test">
      <p> asdasd </p>
    </div>

    <button ui-sref="entryPage" id="getHelp-button52" class="button button-icon icon ion-gear-a">
    <div>
      <i class="icon ion-gear-a"></i>
      <br>
      <label>Quit</label>
    </div>
  </button>

    <form id="entryPage-form2" class="list">
      <label class="item item-input" id="entryPage-input4" name="name_input">
        <input type="text" placeholder="<ICON> Enter your name">
      </label>
    </form>
    <div id="entryPage-button-bar2" class="button-bar">
      <a ui-sref="joinRoom" id="entryPage-button12" style="color:#DFD7D7;" class="button button-assertive  button-block">Join Room</a>
      <a ui-sref="createRoom" id="entryPage-button15" style="color:#DFD7D7;" class="button button-assertive  button-block">Create Room</a>
    </div>
  </ion-content>
</ion-view>