<ion-view title="Entry Page" id="entrypage" hide-back-button="true" hide-nav-bar="true">

  <!-- Video background -->
  <video id="video-bg" webkit-playsinline playsinline loop>
    <source src="img/lec_1_blur.mp4" type="video/mp4">
  </video>

  <ion-content class="no-footer header-offset-entry" has-bouncing="false">

    <ion-item ng-repeat="item in items" href="#">
    <img ng-src="{{item.img}}" imageonload="onLoad({{$index}})" id="img-{{$index}}" />
    </ion-item>

    <!-- name input field -->
    <form id="nameForm" name="nameForm" novalidate>
      <label id="entrylabel" class="item item-input" name="name_input">
        <img id="unihat" src="img/uni_hat.png" alt="Hat">
        <input id="entryname" name="entryname" required type="text" ng-minlength="2" ng-maxlength="25" placeholder="Enter your name" ng-model='formData.name'>
      </label>
    </form>

    <!-- join and create room buttons -->
    <div class="button-bar" style="width: 100%; height: 10%;">
      <a ng-click="joinRoomPressed()" id="entryPage-join" class="teacherspet-button button button-block" ng-disabled="nameForm.$invalid" >Join Room</a>
      <a ng-click="createRoomPressed()" id="entryPage-create" class="teacherspet-button button button-block" ng-disabled="nameForm.$invalid">Create Room</a>
    </div>

    <!-- slider -->
    <ion-slides options="data.sliderOptions" slider="data.sliderDelegate">
      <ion-slide-page show-pager="true" ng-repeat="sliderPage in sliderData">
        <div class="slider-container">
          <center class="slider-header">{{sliderPage.head}}</center>
          <center ng-bind-html="sliderPage.body" class="slider-body"></center>
        </div>
      </ion-slide-page>
    </ion-slides>

  </ion-content>
</ion-view>
