<ion-view title="Get Help" id="page10" style="background-color:default;">
  <ion-content padding="true" class="has-header">
    <div id="getHelp-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">&lt;LIVE PREVIEW??&gt;</p>
    </div>
    <div class="spacer" style="width: 300px; height: 214px;"></div>
    <form id="getHelp-form15" class="list">
      <label class="item item-select" id="getHelp-select1">
        <span class="input-label">Select</span>
        <select></select>
      </label>
      <div class="spacer" style="width: 300px; height: 13px;"></div>
      <label class="item item-input" id="getHelp-input15">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="studentHelpQueue" id="getHelp-button33" class="button button-assertive  button-block">Queue up</a>
  </ion-content>
</ion-view>
<div class="bar bar-footer bar-positive">
  <div id="getHelp-button-bar9" class="button-bar">
  <button ui-sref="entryPage" id="getHelp-button52" class="button button-icon">
    <div>
      <ion-icon class=" icon ion-gear-a"></ion-icon>
      <br>
      <label>Quit</label>
    </div>
  </button>
  <a ui-sref="studentHelpQueue" id="getHelp-button49" class="button button-clear">Queue</a>
  <button id="getHelp-button50" class="button button-clear">+</button>
  <a ui-sref="settings" id="getHelp-button51" class="button button-clear">Settings</a>
  </div>
</div>