<ion-view title="Get Help" id="page10" style="background-color:default;">
  <ion-content padding="true" class="has-header">

    <form name="addQuestionForm" class="list">
      <!-- category drop downnn -->
      <label class="item item-select">
        <select ng-model=formData.category required>
          <option ng-repeat="category in room.Categories">{{category}}</option>
        </select>
      </label>
      <!-- question body input -->
      <label class="item item-input">
        <i class="icon ion-wineglass placeholder-icon" style="padding-right: 1em; "></i>
        <input id="room-code-input" type="text" placeholder="Enter question text (min. 16 chars)" ng-model="formData.body" required type="text" ng-minlength="16" ng-maxlength="140">
      </label>
    </form>

    <!-- The question preview box-->
    <div class="card" ng-hide="addQuestionForm.$invalid">
      <div class="item item-divider">
        {{student}} &nbsp; {{formData.category}}
        <div class="item-icon-right">
          <div class="icon ion-ios-close-empty" ng-click="closePreview(addQuestionForm)"></div> <!-- if left as an <a> tag, the close icon becomes blue???-->
        </div>
      </div>
      <div class="item item-text-wrap">{{formData.body}}</div>
      <div class="item item-divider">
        <div class="col text-center" ng-click="submitQuestion()">
            <a class="button icon-right ion-chevron-right button-clear button-dark" ng-disabled="addQuestionForm.$invalid" style="text-align:center;">Get Help!&nbsp;</a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>

<!-- Bottom tab bar -->
<student-tab></student-tab>
