<ion-view title="Join Room" id="page4">
  <ion-content padding="true" class="has-header">
    
    <!-- Room code input -->
    <form name="roomCodeForm" class="list">
      <label class="item item-input" id="joinRoom-input6" name="room_code">
        <i class="icon ion-pound placeholder-icon" style="padding-right: 1em; "></i>
        <input id="room-code-input" type="text" placeholder="Enter Room Code (try 'room1')" ng-model="formData.code">
      </label>
    </form>
    <!-- Admin code input -->
    <form name="adminCodeForm" class="list" ng-show="joinAsAdmin">
      <label class="item item-input" name="admin_code">
        <i class="icon ion-university placeholder-icon" style="padding-right: 1em; "></i>
        <input id="room-code-input" type="text" placeholder="Enter Teacher code (try 'room1A')" ng-model="formData.adminCode">
      </label>
    </form>
    <a ng-click="toggleAdmin()" ng-hide="joinAsAdmin">Need to join as a teacher?</a>
    <a ng-click="toggleAdmin()" ng-show="joinAsAdmin">Need to join as a student?</a>


    <!-- Error code shown if inputted room code doesnt correspond to a room in database -->
    <div style="margin:auto; width:50%; text-align:center" ng-show="showRoomNotFoundError">
      <div style="color: red">I could not find the room you were looking for :( </div>
    </div>
    
    <!-- Spinner that only shows while searching Database for room data -->
    <div style="margin:auto; width:50%; text-align:center" ng-show="showLoadingSpinner">
    <ion-spinner></ion-spinner>
    </div>

    <!-- Card showing Room information. Only visible after pressing submit and given that the code is correct. 'room1' works for now -->
    <div class="card" ng-show="validRoomData && (formData.adminCode == room.admin_code || !joinAsAdmin)">
      <div class="item item-divider">
        {{room.title}}
        <div class="item-icon-right">
          <div class="icon ion-ios-close-empty" ng-click="closePreview(roomCodeForm)"></div> <!-- if left as an <a> tag, the close icon becomes blue???-->
        </div>
      </div>
      <div class="item item-text-wrap">
        {{room.description}}
      </div>
      <div class="item item-divider">
        <div class="col text-center" ng-click="joinRoomPressed()">
            <a class="button icon-right ion-chevron-right button-clear button-dark" style="text-align:center;">{{getJoinButtonText()}}&nbsp;</a>
        </div>
      </div>
    </div>
   
    <!-- testin stuff --> 
    <!--div ng-repeat="person in people" id="joinRoom-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{person.name}}</p>
    </div-->
  </ion-content>
</ion-view>