<ion-view title="Join Room" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="joinRoom-form3" class="list">
      <label class="item item-input" id="joinRoom-input6" name="room_code">
        <input type="text" placeholder="<ICON> Enter Room or Teacher code">
      </label>
    </form>
    <div ng-repeat="person in people" id="joinRoom-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{person.name}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 258px;"></div>
    <a ui-sref="studentHelpQueue" id="joinRoom-button16" class="button button-assertive  button-block">Join Room</a>
  </ion-content>
</ion-view>