<ion-view title="Room Settings"  id="page9" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="roomSettings-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">ROOM code </p>

      <p style="color:#000000;">TEACHER code</p>
    </div>
    <form id="roomSettings-form12" class="list">
      <label class="item item-input" id="roomSettings-input11" name="room_code">
        <input type="text" placeholder="<ICON> Current Room Name">
      </label>
    </form>
    <form id="roomSettings-form13" class="list">
      <label class="item item-input" id="roomSettings-input12" name="subject_input">
        <input type="text" placeholder="Enter a Subject <ADD BUTTON>">
      </label>
    </form>
    <ion-list id="roomSettings-list5">
      <ion-item id="roomSettings-list-item17">Item 1</ion-item>
      <ion-item id="roomSettings-list-item18">Item 2</ion-item>
      <ion-item id="roomSettings-list-item19">Item 3</ion-item>
    </ion-list>
    <a ui-sref="teacherHelpQueue" id="roomSettings-button25" class="button button-assertive  button-block">Update Room</a>
    <div id="roomSettings-button-bar4" class="button-bar">
      <a ui-sref="entryPage" id="roomSettings-button31" class="button button-assertive  button-block">Delete/Leave Room</a>
    </div>


  </ion-content>
</ion-view>

<!-- Bottom tab bar for teachers -->
<teacher-tab></teacher-tab>