<ion-modal-view ng-class="{inverted: Constants.IN_NIGHT_MODE}">


    <ion-nav-bar class="bar-stable">
    	<ion-nav-title>Edit Categories</ion-nav-title>
      	<ion-nav-buttons side="left">
      		<button class="button-icon icon ion-ios-arrow-back" ng-click="closeModal()">Back</button>
    	</ion-nav-buttons>
    </ion-nav-bar>

    
    


    <ion-content style="padding: 1em" padding="true" class="has-header" style="top: 0px; margin-top: 44px;">
      <!-- Room categories input THIS IS DISABLED IN A BIT OF A HACKY WAY-->
      <div id="sub-label" class="item item-input">
        <i class="icon ion-happy placeholder-icon" style="padding-right: 1em; "></i>
        <input id="room-subject-input" name="sub_input" type="text" placeholder="Enter a subject" ng-model="formData.subject" type="text">
        <a ng-disabled="formData.subject.length < 2 || formData.subject.length > 32" ng-click="addSubject()" class="button button-icon icon ion-ios-plus-outline"></a>
      </div>

      <!-- Spacer -->
	  <div class="spacer" style="margin-top: 5%;"></div>

	    <!-- Category list -->
	    <ion-list id="subjectList">
	      <ion-item ng-style="{'background-color': getSubjectColor(subject, 0.9), 'border-color': getSubjectColor(subject, 0.7)}" class="item item-icon-right category-item" ng-repeat="subject in subjects track by $index">
	        {{subject}}
	        <a class="button button-icon icon ion-ios-close-empty" ng-click="removeSubject($index)"></a>
	      </ion-item>
	    </ion-list>


    <!-- refresh button-->
    <div class="button icon-right ion-android-sync button-block" ng-disabled="nothingHasChanged || (roomDetailsForm.$invalid && formData.subject.length >= 2) || subjects.length === 0" ng-click="applyChanges()">Apply Changes</div>
    
    </ion-content>





</ion-modal-view>