<ion-view title="Settings" id="page12" ng-class="{inverted: Constants.IN_NIGHT_MODE}">
  <ion-content padding="true" class="has-header">
    <!-- update name list item -->
      <form name="nameForm" novalidate class="list">
        <ion-item class="item item-input">
          <i class="icon ion-paw placeholder-icon" style="padding-right: 1em; "></i>
          <input type="text" placeholder="Your name" ng-model='formData.name' id="update-name-input" required type="text" ng-minlength="2" ng-maxlength="25">
          <a ng-click="refreshNamePressed()" ng-disabled="nameForm.$invalid || nameHasNotChanged" type="text" placeholder="Your name" ng-model='formData.name' id="update-name-input" required type="text" ng-minlength="2" ng-maxlength="25" class="button button-icon icon ion-refresh"></a>
        </ion-item>
      </form>

    <ion-list >
      <!-- other list items -->
      <ion-item>notification settings</ion-item>
      <ion-item>Appearance</ion-item>
      <ion-toggle toggle-class="toggle-calm" ng-model="formData.nightMode">Study Mode</ion-toggle>
      <ion-item>About</ion-item>
      <ion-item>Feedback</ion-item>
    </ion-list>


  </ion-content>

</ion-view>
<!-- Bottom tab bar -->
<teachers-pet-tab-bar page="settings", template="{{tabBarTemplate}}"></teachers-pet-tab-bar>
