<ion-view title="Settings" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="settings-list7">
      <label class="item item-input" id="settings-input16">
        <input type="text" placeholder="Current Name">
      </label>
      <ion-item id="settings-list-item24">notification settings</ion-item>
      <ion-item id="settings-list-item28">Appearance</ion-item>
      <ion-toggle toggle-class="toggle-assertive" id="settings-toggle5">Study Mode</ion-toggle>
      <ion-item id="settings-list-item26">About</ion-item>
      <ion-item id="settings-list-item27">Feedback</ion-item>
    </ion-list>
  </ion-content>
</ion-view>