<ion-view title="Student Help Queue" id="page7" hide-back-button="true">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 0px;"></div>
    
    <!-- Random Queue information -->
    <div id="studentHelpQueue-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">You are #1 in line</p>
    </div>

    <!-- the actual Queue -->
    <div ng-repeat="question in room.Questions">
      <div class="card">
        <div class="item item-divider" ng-class="{'item item-divider highlighted' : question.studentID == studentID}">{{$index+1}}. {{question.category}}, {{question.student}}</div>
        <div class="item item-text-wrap" ng-class="{'item item-text-wrap highlighted' : question.studentID == studentID}">{{question.body}}</div>
      </div>
    </div>

  </ion-content>
</ion-view>

<!-- Bottom tab bar for students -->
<student-tab></student-tab>
<!-- 

<ion-list id="studentHelpQueue-list4">
      <ion-item id="studentHelpQueue-list-item14">Item 1</ion-item>
      <ion-item id="studentHelpQueue-list-item15">Item 2</ion-item>
      <ion-item class="item-divider" id="studentHelpQueue-list-item-divider2"> Subject</ion-item>
      <ion-item id="studentHelpQueue-list-item16">Brødtekst</ion-item>
    </ion-list>
-->