<ion-view title="Student Help Queue" id="page7" hide-back-button="true" ng-class="{inverted: Constants.IN_NIGHT_MODE}">
  <ion-content padding="true" class="has-header header-offset">
    <div class="spacer" style="width: 300px; height: 0px;"></div>
    <!-- Random Queue information -->
    <div id="studentHelpQueue-markdown5" class="show-list-numbers-and-dots">
      <p>{{room.description}}</p>
    </div>

    <!-- Error code shown if no questions have been posted yet-->
    <div style="margin:auto; width:90%; text-align:center" ng-show="room.Questions === undefined">
      <div style="color: grey">No one has asked any questions yet.<br>Why not be the first? Press "Get Help"!</div>
    </div>

    <!-- the actual Queue -->
    <div class="card" ng-repeat="question in room.Questions">
      <div ng-click="expandQuestion($index)" class="item item-divider item-icon-right" ng-class="{'item item-icon-right item item-divider highlighted' : question.studentID == studentID}">
        {{$index+1}}. {{question.student}}, {{question.category}}
        <div class="item-icon-right" ng-show="question.studentID == studentID">
          <div class="icon ion-ios-close-empty" ng-click="deleteMyQuestion($index); $event.stopPropagation();"></div>
        </div>
        <div class="item-icon-right">
          <div class="icon ion-ios-arrow-down" style="font-size: 1.5em;" ng-hide="visibleQuestion == $index || question.studentID == studentID">
          </div>
          <div class="icon ion-ios-arrow-up" style="font-size: 1.5em;" ng-hide="visibleQuestion != $index || question.studentID == studentID">
          </div>
        </div>
      </div>
      <div ng-show="visibleQuestion == $index" class="item item-text-wrap" ng-class="{'item item-text-wrap highlighted' : question.studentID == studentID}">{{question.body}}</div>
    </div>

  </ion-content>
</ion-view>
    <!-- spacer -->
    <div class="spacer" style="height: 100px;"></div>

<!-- Bottom tab bar for students -->
<teachers-pet-tab-bar page="studentHelpQueue", template="templates/studentTab.html"></teachers-pet-tab-bar>
