<ion-view title="Teacher Help Queue" id="page6" hide-back-button="true">
  <ion-content padding="true" class="has-header">
    <label> Room Code: {{room.code}} </label> <br>
    <label> Admin Code: {{room.admin_code}} </label>
    <div id="teacherHelpQueue-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">40 students need help with greedy algorithms</p>
    </div>
    <div class="spacer" style="width: 300px; height: 0px;"></div>
    <button id="teacherHelpQueue-button26" class="button button-positive  button-block">Clear queue for certain subject</button>
    <ion-list id="teacherHelpQueue-list2">
      <ion-item id="teacherHelpQueue-list-item10">Item 1</ion-item>
      <ion-item id="teacherHelpQueue-list-item11">Item 2</ion-item>
      <ion-item class="item-divider" id="teacherHelpQueue-list-item-divider1"> Subject</ion-item>
      <ion-item id="teacherHelpQueue-list-item12">Brødtekst</ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<!-- Bottom tab bar for teachers -->
<teacher-tab></teacher-tab>
