<div class="bar bar-footer bar-positive">
  <div id="teacher-tab-bar" class="button-bar">
  <button ui-sref="teacherHelpQueue" id="getHelp-button52" class="button button-icon">
    <div>
      <img id="queueicon" src="img/queue_icon.png" alt="Queue">
      <br>
      <p class="icontext">Queue</p>
    </div>
    </button>
  <button ui-sref="roomSettings" id="getHelp-button51" class="button button-icon">
    <div>
      <i class="icon ion-ios-settings-strong"></i>
      <br>
      <p class="icontext">Room Settings</p>
    </div>
    </button>
  <button ui-sref="settings" id="getHelp-button50" class="button button-icon">
    <div>
      <i class="icon ion-gear-a"></i>
      <br>
      <p class="icontext">Settings</p>
    </div>
    </button>
  </div>
</div>