<div class="bar bar-footer bar-royal">
  <div id="teacher-tab-bar" class="button-bar">
    <button ui-sref="teacherHelpQueue" id="getHelp-button52" class="button button-icon">
      <div class="inactivetabs" ng-class="{'activetab': page == 'teacherHelpQueue'}">
        <img id="queueicon" src="img/queue.png" alt="Queue">
        <br>
        <p class="icontext">Queue</p>
      </div>
      </button>
    <button ui-sref="roomSettings" id="getHelp-button51" class="button button-icon">
      <div class="inactivetabs" ng-class="{'activetab': page == 'roomSettings'}"">
        <i class="icon ion-ios-settings-strong"></i>
        <br>
        <p class="icontext">Room Settings</p>
      </div>
    </button>
    <button ui-sref="entryPage" id="getHelp-button49" class="button button-icon">
      <div class="inactivetabs">
        <i class="icon ionicons ion-android-exit"></i>
        <br>
        <p class="icontext">Quit</p>
      </div>
    </button>
  </div>
</div>
