<ion-view title="Teacher Help Queue" id="page6" hide-back-button="true" ng-class="{inverted: Constants.IN_NIGHT_MODE}">
  <ion-content padding="true" class="has-header">
    <label> Room Code: {{room.code}} </label> <br>
    <label> Admin Code: {{room.admin_code}} </label>
    <div id="teacherHelpQueue-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">40 students need help with greedy algorithms</p>
    </div>
    <div class="spacer" style="width: 300px; height: 0px;"></div>
    
    <!-- Error code shown if no questions have been posted yet-->
    <div style="margin:auto; width:90%; text-align:center" ng-show="room.Questions===undefined">
      <div style="color: grey">No one has asked any questions yet.<br>When they start rolling in, they will appear here!</div>
    </div>

    <!-- THE CURRENT QUESTION -->
    <div class="card" ng-hide="currentlyBeingHelped == -1">
      <div ng-click="expandQuestion($index);" class="item item-divider" style="color: #bbbbbb; font-weight: bold">
        Currently Helping {{currentlyBeingHelped.student}}
        <div class="item-icon-right">
          <div class="icon ion-ios-arrow-down" ng-hide="visibleQuestion == $index" style="font-size: 1.5em"></div>
          <div class="icon ion-ios-arrow-up" ng-show="visibleQuestion == $index" style="font-size: 1.5em"></div>
        </div>
      </div>
      <div ng-show="visibleQuestion == -1" class="item item-text-wrap">{{currentlyBeingHelped.body}}</div>
      <div class="item item-divider" ng-click="doneHelping()">
          <div class="col text-center">
            <a class="button icon-right ion-chevron-right button-clear button-dark" style="text-align:center;">Mark as Helped&nbsp;</a>
        </div>        
      </div>
    </div>

    <!-- the actual Queue -->
    <div class="card" ng-repeat="question in room.Questions">
      <div ng-click="expandQuestion($index);" ng-style="{'background-color': getSubjectColor(question.category, 0.7), 'border-color': getSubjectColor(question.category, 0.7)}" class="item item-divider">
        {{$index+1}}. {{question.student}}, {{question.category}}
        <div class="item-icon-right">
          <div class="icon ion-ios-arrow-down" ng-hide="visibleQuestion == $index" style="font-size: 1.5em"></div>
          <div class="icon ion-ios-arrow-up" ng-show="visibleQuestion == $index" style="font-size: 1.5em"></div>
        </div>
      </div>
      <div ng-style="{'background-color': getSubjectColor(question.category, 0.9), 'border-color': getSubjectColor(question.category, 0.6)}" ng-show="visibleQuestion == $index" class="item item-text-wrap">{{question.body}}</div>
      <div class="item item-divider" ng-style="{'background-color': getSubjectColor(question.category, 0.7), 'border-color': getSubjectColor(question.category, 0.7)}" ng-show="visibleQuestion == $index" ng-click="joinRoomPressed()">
          <div class="col text-center" ng-click="joinRoomPressed()">
            <a ng-click="beginHelping(question)" class="button icon-right ion-chevron-right button-clear button-dark" style="text-align:center;">Help {{question.student}}&nbsp;</a>
        </div>        
      </div>
    </div>

  </ion-content>
</ion-view>

<!-- Bottom tab bar for teachers -->
<teachers-pet-tab-bar page="teacherHelpQueue", template="templates/teacherTab.html"></teachers-pet-tab-bar>



<!--div class="col text-center" ng-click="joinRoomPressed()">
            <a class="button icon-right ion-chevron-right button-clear button-dark" style="text-align:center;">Help {{question.student}}&nbsp;</a>
        </div-->