/* Stylings specific to the entryPage view */

/**
 * CSS flags used in conjunction with hide-nav-bar and has-bouncing
 * in order to disable the scroller on the entry page, otherwise a
 * visible scroll bar appears and actual scrolling is possible.
 */

.div.scroll{
	height: 0%;
}

.scroll {
	height: 100%;
}

.scroll-bar-indicator
{
	display: none;
}

div.scroll-bar.scroll-bar-v{
	display: none;
}

div.scroll.padding{
	height: 100%;
}



/**
 * The video background modifier
 */
#video-bg {
	position: fixed;
	margin-top: -50%;
	height: 101%; /* Use 101% to avoid cut offs */
	bottom: 0%;
	z-index: -1; /* Sets the video "layer depth" e.g. on top of everything else */
	border-style: none;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0.5%);
}



/**
 * Refers to ion-nav-view, mainly used to set the background image
 */
#entrypage {
	background: url('../img/bg_1.jpg') no-repeat center center fixed;
	background-size: cover;
}

.header-offset-entry{
	top: 0px !important;
	margin-top: 63% !important;
}

/**
 * Icon for the entry label
 */
#unihat{
	width: 15%;
	padding: 3% 6% 1% 1%;
}

/**
*
*/

#queueicon{
	width: 1.85em;
	margin-bottom: -0.5em;
}

#gethelpicon{
	width: 1.65em;
	margin-bottom: -0.35em;
}

/* Input field for giving your name*/
#entrylabel {/* Transparent name entrypage input label */
	background-color: rgba(27,21,18,0.4);
	width: 80%;
	margin-left: 10%;
	margin-right: 10%; /* Beware, added automatically by label */
 	border: 1px gray;
 	border-radius: 10px;

}

#nameForm {
	width: 100%;
	height: 7%;
	margin-bottom: 4%;
}

#entrylabel-error{/* red transparent entry label */
	background-color: rgba(100,0,0,0.4);
	width: 80%;
 	border: 1px gray;
 	border-radius: 10px;
}
#entryname {
	color: white;
	font-size: 80%;
}
#entryname::-webkit-input-placeholder {/* Entrypage name placeholder Color */
  opacity: 1;
}

/* Join and Create button placment adjustment */
#entryPage-join {
	margin-left: 7.8%;
	margin-right: -3%;
	border-radius: 10px;
	transform: scale(0.9, 0.9);
	/*margin-right: 30px;*/
}
#entryPage-create {
	/*margin-left: 10px;*/
	border-radius: 10px;
	transform: scale(0.9, 0.9);
	margin-right: 7.8%;
}

ion-slides{
	height: 79% !important;
	width: 101% !important;
	border-color: white;
}

span.swiper-pagination-bullet.swiper-pagination-bullet {
	background-color: white;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: white;
}

.slider-header {
	font-family: Helvetica, Sans-Serif;
	height: 100%;
	width: 100%;
	margin: auto;
	color: white;
	font-weight: bold !important;
	font-size: 20px;
	padding-top: 15%;
}

.slider-body {
	font-family: Helvetica, Sans-Serif;
	height: 100%;
	width: 100%;
	color: white;
	font-size: 1.8vh;
	font-weight: bold !important;
	/*padding-top: 10%;*/
	padding-left: 3%;
	padding-right: 3%;
}

span.slider-pager-page {
	height: 100%;
	width: 100%;
	color: black;
}

span.slider-pager-page.active{
	color: white;
}
