/* Stylings specific to the entryPage view */

/**
 * CSS flags used in conjunction with hide-nav-bar and has-bouncing
 * in order to disable the scroller on the entry page, otherwise a
 * visible scroll bar appears and actual scrolling is possible.
 */
.scroll {
	height: 100%;
}

.scroll-bar-indicator
{
	display: none;
}

div.scroll-bar.scroll-bar-v{
	display: none;
}



/**
 * The video background modifier
 */
#video-bg {
	position: fixed;
	margin-top: -50%;
	height: 101%; /* Use 101% to avoid cut offs */
	bottom: 0%;
	z-index: -1; /* Sets the video "layer depth" e.g. on top of everything else */
	border-style: none;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0.5%);
}



/**
 * Refers to ion-nav-view, mainly used to set the background image
 */
#entrypage {
	background: url('../img/bg_1.png') no-repeat center center fixed;
	background-size: cover;
}

/**
 * Icon for the entry label
 */
#unihat{
	width: 15%;
	padding: 3% 6% 1% 1%;
}

/**
* 
*/

#queueicon{
	width: 1.85em;
	margin-bottom: -0.5em;
}

#gethelpicon{
	width: 1.65em;
	margin-bottom: -0.35em;
}

/* Input field for giving your name*/
#entrylabel {/* Transparent name entrypage input label */
	background-color: rgba(27,21,18,0.4);
	width: 80%;
	margin-left: 10%;
	margin-right: 10%; /* Beware, added automatically by label */
 	border: 1px gray;
 	border-radius: 10px;
}

#entrylabel-error{/* red transparent entry label */
	background-color: rgba(100,0,0,0.4);
	width: 80%;
 	border: 1px gray;
 	border-radius: 10px;
}
#entryname {
	color: white;
	font-size: 80%;
}
#entryname::-webkit-input-placeholder {/* Entrypage name placeholder Color */
  opacity: 1;
}

/* Color entry page buttons */
a.entrybutton {
	background-color: #355c7d;
	color: white;
	transition: all 0.2s ease 0s;
}

a.entrybutton:hover{
	color: white;
	background-color: #2e506d;
}

a.entrybutton:active{
	border: 0px;
    background-color: #2e506d;
}

/* Join and Create button placment adjustment */
#entryPage-join {
	/*padding-left: 10px;*/
	border-radius: 10px;
	transform: scale(0.9, 0.9);
	/*margin-right: 30px;*/
}
#entryPage-create {
	/*margin-left: 10px;*/
	border-radius: 10px;
	transform: scale(0.9, 0.9);
	/*margin-right: 10px;*/
}

ion-slides{
	height: 24% !important;
	width: 101% !important;
	border: 1px solid;
	border-color: white;
	transform: translate(-0.5%, 0%);
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: white;
}

.slider-header {
	font-family: Helvetica, Sans-Serif;
	height: 100%;
	width: 100%;
	margin: auto;
	color: white;
	font-weight: bold !important;
	font-size: 20px;
	padding-top: 5%;
}

.slider-body {
	font-family: Helvetica, Sans-Serif;
	height: 100%;
	width: 100%;
	color: white;
	font-size: 1.8vh;
	font-weight: bold !important;
	padding-top: 5%;
}
