/* Stylings specific to the entryPage view */

/* The video background */
#video-bg {
	position: fixed;
	top: 0%;
	bottom: 0;
	left: -130%;
	z-index: -1;
	border-style: none;
}

/* Brown lecturer background */
#entrypage {
	background: url('../img/bg_1.png') no-repeat center center fixed;
  	background-position: left;
  	background-size: cover;
		border-style: none;
}

#unihat{
	width: 30px;
	margin-left:-5px;
	margin-right: 8px;
	margin-top: 2px;
}

#queueicon{
	width: 1.85em;
	margin-bottom: -0.5em;
}

#gethelpicon{
	width: 1.65em;
	margin-bottom: -0.35em;
}

/* Input field for giving your name*/
#entrylabel {/* Transparent name entrypage input label */
	background-color: rgba(27,21,18,0.4);
	width: 80%;
	margin: auto;
 	border: 1px gray;
 	border-radius: 10px;
  /*	border-style: solid none solid none;*/
}
#entrylabel-error{/* red transparent entry label */
	background-color: rgba(100,0,0,0.4);
	width: 80%;
	margin: auto;
 	border: 1px gray;
 	border-radius: 10px;
}
#entryname {
	color: white;

	font-size: 80%;
	margin-top: 0%;
	/*width: 96%*/
}
#entryname::-webkit-input-placeholder {/* Entrypage name placeholder Color */
  opacity: 1;
}

/*slider stufff*/
ion-slides{
  height: 25.5vh !important;
  color: white;
  width: 110% !important;
  transform: translate(-5%, 0%);

  border: 1px solid;
  border-collapse: true;
}

.slider-slide
{
  text-align: center;
}

.slider-container {
	margin: auto; !important;
  	width: 90%; !important;
  	/*height: 50%;*/
}

.slider-header {
	font-family: Helvetica, Sans-Serif;
	margin: auto;
	color: white;
	font-weight: bold !important;
	font-size: 20px;
	padding-bottom: 4%;
	padding-top: 12%;
}

.slider-body {
	font-family: Helvetica, Sans-Serif;
	color: white;
	font-size: 1.8vh;
	font-weight: bold !important;
}

/* Slider bullet options!!!! */
.swiper-pagination-bullet {
	/*margin-bottom: 23% !important;*/
	margin-bottom: -2% !important;
	color: black !important;
	border: 0.4em solid !important; /*size of bullets */
	opacity: 0.3 !important;
}

.swiper-pagination-bullet-active{
	/*margin-bottom: 21.9% !important;*/
	color: #eaeaea !important;
	opacity: 1 !important;
	/*border: 0.70em solid !important;*/
}