/* Universal stylings, used across different views*/

/* The standard styling for all buttons in the app */
a.teacherspet-button {
	background-color: #355c7d;
	color: white;
	border-radius: 10px;
}

.button.teacherspet-button:hover {
	background-color: #2e506d;
	color: white;
}


.button.teacherspet-button.active, .button.teacherspet-button.activated {
	border: 0px;
	background-color: #2e506d;
}

.icon.ion-ios-settings-strong:active {
	opacity: 0.7;
}

/* The tabbar styling on highlight */
.inactivetabs{
	opacity: 0.3;
}
.activetab{
	opacity: 1 !important;
}

/* Button highlighted as soon as pressed */
.button.button-icon.active, .button.button-icon.activated{
	opacity: 1.0 !important;
}