/* Universal stylings, used across different views*/

/* Night mode */
.inverted {
	filter: invert(100%);
}

/*font size of all lists. This was made to specifically target the category lists, so maybe make a custom class for that...*/
.item.item-icon-right.category-item {
	font-size: 14px !important;
}

/* Minus icon to remove subject */
.button.button-icon.icon.ion-ios-minus-outline{
	padding-bottom: 1.3%;
}

.item.item-divider.helper {
	height: 2.8em;
}

.col.text-center {
	transform: translate(0%, -23%);
}

/* Highlighted question box header bar*/
.item.item-divider.highlighted {
	background-color: #c9d7fc;
	border-color: #c9d7fc;
	/*color: white;*/
	font-weight: bold;
}

/* Highlighted question box header bar*/
.item.item-text-wrap.highlighted {
	background-color: #eaf0ff;
	border-color: #eaf0ff;
}

/* The standard styling for all buttons in the app */
a.teacherspet-button {
	background-color: #355c7d;
	color: white;
	border-radius: 10px;
}

.button.teacherspet-button:hover {
	background-color: #2e506d;
	color: white;
}

.button.teacherspet-button.active, .button.teacherspet-button.activated {
	border: 0px;
	background-color: #2e506d;
}

.icon.ion-ios-settings-strong:active {
	opacity: 0.7;
}

/* The tabbar styling on highlight */
.inactivetabs{
	opacity: 1.0;
}
.activetab{
	opacity: 0.3 !important;
}

/* NIGHT MODE stuff*/
.inverted {
	filter: invert(100%);
}

/* Button highlighted as soon as pressed */
.button.button-icon.active, .button.button-icon.activated{
	opacity: 1.0 !important;
}

/*Create room form fittings....*/

/* Add button size */
#add-button:before{
	font-size: 180%;
	padding-right: 35%;
}

#createRoomForm .item{
	width: 100.5%;
	margin-left: -0.25%;
}

#createRoomForm .item, #subjectForm .item{
	height: 3em;
}

#subjectForm .item{
	margin-top: -5.9%;
	border-bottom-right-radius: 2.5px;
	border-bottom-left-radius: 2.5px;
}

#subjectList .item{
	margin-top: -0.5%;
	/*height: 3em;*/
	line-height: 80%;
	border-radius: 2px;
}

/*input fields with button inside it, styled to make it same height as regular input fields*/
.input-with-button

/* GetHelp subject placeholder */
select:required:invalid {
  color: #a5a5a5;
}

select{
	direction: ltr !important;
	width: 100% !important;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}

/* Bottom margin for pages so it is not hidden behind footer */
ion-content{
	position: relative;
	margin-bottom: 15% !important;
}

ion-content.no-footer{
	margin-bottom: 0% !important;
}

.button.button-icon.icon.ion-ios-plus-outline{
	/*border: 1px solid;*/
	margin-right: 0.9%;
}