/* Universal stylings, used across different views*/

/* Highlighted question box header bar*/
.item.item-divider.highlighted {
	background-color: pink;
}

/* Highlighted question box header bar*/
.item.item-text-wrap.highlighted {
	background-color: pink;
}

/* The standard styling for all buttons in the app */
a.teacherspet-button {
	background-color: #355c7d;
	color: white;
	border-radius: 10px;
}

.button.teacherspet-button:hover {
	background-color: #2e506d;
	color: white;
}


.button.teacherspet-button.active, .button.teacherspet-button.activated {
	border: 0px;
	background-color: #2e506d;
}

.icon.ion-ios-settings-strong:active {
	opacity: 0.7;
}

/* The tabbar styling on highlight */
.inactivetabs{
	opacity: 1.0;
}
.activetab{
	opacity: 0.3 !important;
}

/* Button highlighted as soon as pressed */
.button.button-icon.active, .button.button-icon.activated{
	opacity: 1.0 !important;
}

/*Create room form fittings....*/

/* Add button size */
#add-button:before{
	font-size: 180%;
	padding-right: 35%;
}

#createRoomForm .item.item-input{
	width: 100.5%;
	margin-left: -0.25%;
}

#createRoomForm .item.item-input, #subjectForm .item.item-input{
	height: 3em;
}

#subjectForm .item.item-input{
	margin-top: -5.9%;
	border-bottom-right-radius: 2.5px;
	border-bottom-left-radius: 2.5px;
}

#subjectList .item.item-input{
	margin-top: -0.5%;
	height: 3em;
}
