body{
	position: static;
}
.bar-footer{
  height:10% !important;
}

.bar .title {
	text-align: center;
}

.bar .button.button-icon:before {
    font-size: 4px;
}

p.icontext{
  margin-top: -12px;
  font-size: 12px;
  margin-left: -4px;
}

/* Footer bar settings */
.bar.bar-footer.bar-royal {
	background-color: #517899 !important;
	border-color: #517899 !important;
	background-image: none !important;
}

/* The student button bar
#student-tab-bar button{
	border: 1px black;
  	border-style: solid;
}
*/


/* The teacher button bar
#teacher-tab-bar{
	border: 1px black;
  	border-style: solid;
}
*/


